<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card>
      Create Cosmonaut:
      <br>
      <mat-form-field hintLabel="Max 75 characters" appearance="fill">
        <mat-label>Enter Cosmonaut Address</mat-label>
        <input matInput #cosmonautAddress maxlength="75"
          placeholder="Ex. cosmonaut112a9lf34atqv3ejqe22xnna8x4mfqd32tkq2k23wcjywsarcsa">
        <mat-hint align="end">{{cosmonautAddress.value?.length || 0}}/75</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field hintLabel="Max 15 characters" appearance="fill">
        <mat-label>Enter Cosmonaut Name</mat-label>
        <input matInput #cosmonautName maxlength="15" placeholder="Ex. Lakeuin">
        <mat-hint align="end">{{cosmonautName.value?.length || 0}}/15</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field hintLabel="Max 5 characters" appearance="fill">
        <mat-label>Enter Cosmonaut Level</mat-label>
        <input matInput type="number" #cosmonautLevel maxlength="5" placeholder="Ex. 102">
        <mat-hint align="end">{{cosmonautLevel.value?.length || 0}}/5</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field hintLabel="Max 200 characters" appearance="fill">
        <mat-label>Enter Cosmonaut Description</mat-label>
        <input matInput #cosmonautDescription maxlength="200"
          placeholder="Ex. The Lakeuin is the tallest of the six original and distinct spitz breeds of cosmonauts from Neptun.">
        <mat-hint align="end">{{cosmonautDescription.value?.length || 0}}/200</mat-hint>
      </mat-form-field>
      <br>
      <button mat-button (click)="createCosmonaut()">
        Create
      </button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
Tx Output:
<br>
{{txOutput}}